<a href="https://colab.research.google.com/github/Karrasharanya/Aiml-bootcamp/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Implement the methods of String with examples.

In [ ]:
str="  Methods Of Strings  "
print(str.upper())
print(str.lower())
print(str.swapcase())
print(str.title())
print(str.capitalize())
str1="   My name is Ram  "
print(str1.strip())  
print(str1.lstrip())
print(str1.rstrip())

  METHODS OF STRINGS
  methods of strings
  mETHODS oF sTRINGS
  Methods Of Strings
  methods of strings
My name is Ram
My name is Ram
   My name is Ram

2. Implement the methods of List with examples.

In [ ]:
li=[100,200,300,400]
li.append(500)
print(li)

[100, 200, 300, 400, 500]

In [ ]:
li.extend([600,700,])
print(li)

[100, 200, 300, 400, 500, 600, 700]

In [ ]:
li.insert(0,800)
print(li)

[800, 100, 200, 300, 400, 500, 600, 700]

In [ ]:
del li[0]
print(li)

[100, 200, 300, 400, 500, 600, 700]

In [ ]:
del li[1:2]
print(li)

[100, 300, 400, 500, 600, 700]

In [ ]:
li.remove(400)
print(li)

[100, 300, 500, 600, 700]

In [ ]:
li.pop(0)
print(li)

[300, 500, 600, 700]

In [ ]:
print(li.count(500))

1

In [ ]:
print(len(li))

4

In [ ]:
print(li[::-1])

[700, 600, 500, 300]

In [ ]:
li.sort()
print(li)

[300, 500, 600, 700]

In [ ]:
li.reverse()
print(li)

[700, 600, 500, 300]

In [ ]:
li.clear()
print("The elements that are in the list are:",li)

The elements that are in the list are: []

3. Implement the methods of Tuple with examples.

In [ ]:
tuple=(25,25,35,67,89,90,)
print(tuple.count(25))
print(tuple.index(25))
print(max(tuple))
print(min(tuple))
print(len(tuple))

2
0
90
25
6

4. Implement the methods of Dictionary with examples.

In [ ]:
dictionary={'name':'Sharanya','department':'CSE','Empid':'1234'}#static declaration
print(dictionary['name'])
print(dictionary.keys())
print(dictionary.values())
print(dictionary.get('name'))

Sharanya
dict_keys(['name', 'department', 'Empid'])
dict_values(['Sharanya', 'CSE', '1234'])
Sharanya

5. Implement the methods of Set with examples.

In [ ]:
set={10,20,50}
print(set)

{10, 20, 50}

In [ ]:
set.add(60)
print(set)

{10, 20, 50, 60}

In [ ]:
set.update([100,90])
print(set)

{100, 10, 50, 20, 90, 60}

In [ ]:
set.discard(100)
print(set)

{10, 50, 20, 90, 60}

In [ ]:
set.remove(60)
print(set)

{10, 50, 20, 90}

In [ ]:
#set operators
#setunion
set1={30,40,20,90}
print(set|set1)
print(set.union(set1))

{40, 10, 50, 20, 90, 30}
{40, 10, 50, 20, 90, 30}

In [ ]:
print(set1.union(set))

{40, 10, 50, 20, 90, 30}

In [ ]:
#setintersection
print(set&set1)
print(set.intersection(set1))
print(set1.intersection(set))

{90, 20}
{90, 20}
{90, 20}

In [ ]:
#setdifference
print(set-set1)
print(set.difference(set1))
print(set1-set)
print(set1.difference(set))

{10, 50}
{10, 50}
{40, 30}
{40, 30}

6.Write a python program to convert Decimal to Binary, Octal and Hexadecimal with 
direct method.

In [ ]:
dec = int(input("Enter an integer: "))
print("The decimal value of", dec, "is")
print(bin(dec), " binary")
print(oct(dec), " octal")
print(hex(dec), " hexadecimal")

Enter an integer: 505
The decimal value of 505 is
0b111111001  binary
0o771  octal
0x1f9  hexadecimal

7. Implement Arithmetic operators with examples.

In [ ]:
#arithmetic operators
cp = int(input("Enter cp: "))
sp = int(input("Enter sp: "))
print(cp+sp)
print(cp-sp)
print(cp*sp)
print(cp/sp)
print(cp//sp)
print(cp%sp)
print(cp**sp)

Enter cp: 5
Enter sp: 4
9
1
20
1.25
1
1
625

8.Implement Assignment operators with examples.

In [ ]:
#Assignment operators
cp = int(input("Enter cp: "))
sp= int(input("Enter sp: "))
total=cp+sp
print(total)
total+=cp
print(total)
total-=cp
print(total)
total*=cp
print(total)
total/=cp
print(total)
total%=cp
print(total)
total**=cp
print(total)

Enter cp: 100
Enter sp: 105
205
305
205
20500
205.0
5.0
7.888609052210118e+69

9. Implement Comparison operators with examples.

In [ ]:
#comparision operators
costprice = int(input("Enter costprice: "))
sellingprice = int(input("Enter sellingprice: "))
print("comparision\n")
print(costprice==sellingprice)
print(costprice!=sellingprice)
print(costprice>sellingprice)
print(costprice<sellingprice)
print(costprice>=sellingprice)
print(costprice<=sellingprice)

Enter costprice: 100
Enter sellingprice: 200
comparision

False
True
False
True
False
True

10.Implement Logical operators with examples.

In [ ]:
#logical operators
print("logical\n")
subject1=True
subject2=False
print("subject1 and subject2 is",subject1 and subject2)
print("subject1 or subject2 is",subject1 or subject2)
print("subject1 not is",not subject1)

logical

subject1 and subject2 is False
subject1 or subject2 is True
subject1 not is False

11. Implement Bitwise operators with examples.

In [ ]:
#bitwise operators
costprice=15#11111
sellingprice=8#1000
print("bitwise\n") 
print(costprice&sellingprice)
print(costprice^sellingprice)
print(costprice|sellingprice)
print(~costprice)
print(costprice>>2)
print(costprice<<2)

bitwise

8
7
15
-16
3
60

12. Implement Membership operators with examples.

In [ ]:
#membership operators
subject="Aiml boot camp"
marks={6:'b',7:'y'}
print('A' in subject)
print(1 in marks)
print('a'in marks)

True
False
False

13. Implement Identity operators with examples

In [ ]:
#Identity operators
sub1=33
M1=33
sub2="CSE"
M2="CSE"
sub3=[100,200,300]
M3=[100,200,300]
print(sub1 is not M1)
print(sub1 is  M1)
print(sub2 is M2)
print(sub2 is not M2)
print(sub3 is M3)
print(sub3 is not M3)

False
True
True
False
False
True

14. Demonstrate Negative indexing for List and apply slicing.

In [ ]:
#negative indexing
studentdetails=['name','age','address','mail','phno']
print(studentdetails[-1])
print(studentdetails[-2])
print(studentdetails[-3])
print(studentdetails[-4])
print(studentdetails[-5])

phno
mail
address
age
name

In [ ]:
#slicing
studentdetails=['name','age','address','mail','phno']
print(studentdetails[0:5])
print(studentdetails[0:5:2])
print(studentdetails[0:2])
print(studentdetails[::-1])#reverse of a string
print(studentdetails[:])
print(studentdetails[1:])
print(studentdetails[-3:-2])

['name', 'age', 'address', 'mail', 'phno']
['name', 'address', 'phno']
['name', 'age']
['phno', 'mail', 'address', 'age', 'name']
['name', 'age', 'address', 'mail', 'phno']
['age', 'address', 'mail', 'phno']
['address']

15.Predict the output for the given code snippet and justify the result.

In [ ]:
print('A series of characters designated as one object known as a string'[::-1][4::3])#Given print statement [::-1] reverse the whole string
# and [4::3] reads the string from index 4 and indexjump with value 3
print("----------")
print('Welcome to python training program'[3:10][::-1])
#[3:10] slicing operator starts from 3rd index and stops at 10th index and the it will reverse the string.

taawkcbe  tgestrcoeeA
----------
ot emoc

16. Write a python code to get desired output

In [86]:
#input string p_phrase="was it a car or a cat I saw"
p_phrase="was it a car or a cat I saw"
str=p_phrase.upper()
print(str[:3:]+" "+str[4:5:]+" "+str[5:6:]+str[7:8:]+str[9:10:]+" "+str[10:11:]+" "+str[11:12:]+str[13:14]+" "+str[14:15]+str[16:17:]+str[18:19:]+" "+str[19:20:]+" "+str[20:21:]+str[22:23:]+" "+str[24::])

WAS I TAC A RO RAC A TI SAW

17. You are required to generate a word similar to ZOO, X and Y that denote the number 
of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X. 
 Input X= 2 Output ZZOOOO 
 Input X= 5 Output ZZZZZOOOOOOOOOO

In [ ]:
x=int(input("length of x"))
a=('Z'*x)
y=len(a)
z=2*y
y=('O'*z)
print(a+y)

length of x2
ZZOOOO