<a href="https://colab.research.google.com/github/Karrasharanya/Aiml-bootcamp/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#if statement
var=100
if var>0:
  print("true")
  print(var)
var1=0
if var1>0:
  print("True")
  print(var1)

true
100

In [ ]:
#if...else statement
var2=-1
if var2>0:
  print("True")
  print(var2)
else:
  print("False")
  print(var2)

False
-1

In [ ]:
#nested if statements
#bus tickets
age=int(input("ENTER AGE"))
if age>12 and age<=18:
  if age<15:
    print("Quarter ticket implies")
  elif age==15:
    print("quarter ticket+ discount")
  else:
    print("Half ticket")
elif age>=19 and age<=60:
  print("full ticket")
elif age>60:
  print("Full ticket + discount")
else:
  print("no ticket")

ENTER AGE90
Full ticket + discount

In [ ]:
#for loop
number=[6,5,3,8,4,2,5,4,11]
sum=0
for val in number:
  sum=sum+val
print("the sum is",sum)

the sum is 48

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [ ]:
x=[2,3,4,5,6,7,8]
y=[]
for a in x:
  if a%2==0:
    y.append(a)
print("\n")
print(y)

[2, 4, 6, 8]

In [ ]:
#using statements in for loop
digits=[0,1,5]
for i in digits:
  print(i)
else:
  print("no items left")

0
1
5
no items left

In [ ]:
for l in "python":
  print("Current letter:",l)

Current letter: p
Current letter: y
Current letter: t
Current letter: h
Current letter: o
Current letter: n

In [ ]:
#iterating by sequence indexing
fruit=['apple','banana','grapes']
for index in range(len(fruit)):
  print('current fruit:',fruit[index])

current fruit: apple
current fruit: banana
current fruit: grapes

In [ ]:
#while
count=0
while(count<11):
  print('the count is',count)
  count=count+1
count=0
while(count<5):
  print(count,"is less than 5")
  count=count+1
else:
   print(count,"is not less than 5")

the count is 0
the count is 1
the count is 2
the count is 3
the count is 4
the count is 5
the count is 6
the count is 7
the count is 8
the count is 9
the count is 10
0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5
5 is not less than 5

Write python program that filters a list by removing the elements that not start with vowel. I/P: [‘apple’,’orange’,’grapes’,’ball’,’bat’,’umbrella’] O/P: [‘apple’,’orange’,’umbrella’]

In [ ]:
s=['apple','orange','grapes','ball','bat','umbrella']
res=list(filter(lambda x:x[0] in ['a','e','i','o','u'] ,s))
print(res)

['apple', 'orange', 'umbrella']

Write a python program that generates desired output from fruits list. Filter out the fruits names that don’t start with ‘A’

Fruit=[“Apple”,”Banana”,”Pear”,”Avacado”,”Orange”,”Amla”] Output: [“Apple”,”Avacado”,”Amla”]

In [ ]:
fruit=["Apple","Banana","Pear","Avacado","Orange","Amla"]
res=list(filter(lambda x:x.startswith('A'),fruit))
print(res)

['Apple', 'Avacado', 'Amla']

In [ ]:
#Write a python program that remove items that are multiples of 5 from list: li=[1,2,5,6,7,10,15,25,65,78,90] o/p: [1,2,6,7,78]

li=[1,2,5,6,7,10,15,25,65,78,90]
res=list(filter(lambda x:x%5!=0,li))
print(res)

[1, 2, 6, 7, 78]

In [ ]:
#time module
import time
print(time.time())
print(time.localtime())
print(time.asctime())
print(time.ctime())
print(time.sleep(1.5))

1655217469.30745
time.struct_time(tm_year=2022, tm_mon=6, tm_mday=14, tm_hour=14, tm_min=37, tm_sec=49, tm_wday=1, tm_yday=165, tm_isdst=0)
Tue Jun 14 14:37:49 2022
Tue Jun 14 14:37:49 2022
None

In [ ]:
#random module
import random
print(random.randrange(1,50))
print(random.randint(1,100))
print(random.random())

5
57
0.0581579643563529

In [ ]:
import random
g_num=random.randint(0,5)
g2_num=int(input("PREDICT A NUMBER"))
if g2_num==g_num:
  print("you won")
else:
 print(" you lost")

PREDICT A NUMBER3
you won

In [ ]:
#pass
for l in 'Python':
  if l == 'h':
    pass
  print("Current letter:",l)
int1=10
while(int1>0):
  print("current value:",int1)
  int1=int1-1
  if int1==5:
    print("this is pass block")
    print("this is pass block")

Current letter: P
Current letter: y
Current letter: t
Current letter: h
Current letter: o
Current letter: n
current value: 10
current value: 9
current value: 8
current value: 7
current value: 6
this is pass block
this is pass block
current value: 5
current value: 4
current value: 3
current value: 2
current value: 1

In [ ]:
#keyword
def A(a,b=1,c=2):
  return a+b+c
print(A(a=2,b=3))
print(A(c=3,b=2,a=1))

7
6

In [ ]:
def key_arg(**kwargs):
  return kwargs
my_dict=key_arg(apple=10,oranges=20,grapes=30)
print(my_dict['apple'])
print(my_dict)

10
{'apple': 10, 'oranges': 20, 'grapes': 30}

In [ ]:
def shout(text):
  return text.upper()
def whisper(text):
  return text.lower()

def explain(func):
  greet=func("hi,iam higher order function")
  print(greet)

explain(shout)
explain(whisper)

HI,IAM HIGHER ORDER FUNCTION
hi,iam higher order function

In [ ]:
def incr(x):
  x=x+1
  return x
print(incr(4))

print((lambda x:x+1)(4))

res=lambda x:x+1
print(res(4))

5
5
5

In [ ]:
print((lambda x,y:x**y)(2,2))
print((lambda x,y:x+y)(2,3))

4
5

In [ ]:
li=[1,2,3,4,5]
#res=lambda x:x+2
#print(res(li))
def inc(num):
  return num+2
res_list=list(map(inc,li))
print(res_list)
res_list1=list(map(lambda x:x+2,li))
print(res_list)
print(list(map(lambda x:x+2,li)))

[3, 4, 5, 6, 7]
[3, 4, 5, 6, 7]
[3, 4, 5, 6, 7]

In [ ]:
def eor(num):
  if num%2==0:
    return "the number {} is even".format(num)
  else:
    return "the number {} is odd".format(num)
eor(20)

'the number 20 is even'

In [ ]:
l=[1,2,3,4,5,6,7,8,9,10]
list(map(eor,l))

['the number 1 is odd',
 'the number 2 is even',
 'the number 3 is odd',
 'the number 4 is even',
 'the number 5 is odd',
 'the number 6 is even',
 'the number 7 is odd',
 'the number 8 is even',
 'the number 9 is odd',
 'the number 10 is even']

In [44]:
#nested loops
X=[[12,7,3],
   [4,5,6],
   [7,8,9]]
  
Y=[[5,8,1],[1,1,0],[5,3,7]]
res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(X)):
  for j in range(len(X[0])):
    res[i][j]=X[i][j]+Y[i][j]
for r in res:
  print(r)

[17, 15, 4]
[5, 6, 6]
[12, 11, 16]

In [ ]:
li=['apple','banana','grapes']
r=list(map(lambda x:x.capitalize(),li))
print(r)

['Apple', 'Banana', 'Grapes']

In [ ]:
#math module
import math as m
print(m.pi)
print(m.e)
print(m.sqrt(4))
print(m.factorial(5))
print(m.pow(2,2))
print(m.floor(1.4))
print(m.tan(5))
print(m.log(2))

3.141592653589793
2.718281828459045
2.0
120
4.0
1
-3.380515006246586
0.6931471805599453

In [ ]:
#sys module
import sys
print(sys.path)
print(sys.version)
print(sys.maxsize)

['', '/content', '/env/python', '/usr/lib/python37.zip', '/usr/lib/python3.7', '/usr/lib/python3.7/lib-dynload', '/usr/local/lib/python3.7/dist-packages', '/usr/lib/python3/dist-packages', '/usr/local/lib/python3.7/dist-packages/IPython/extensions', '/root/.ipython']
3.7.13 (default, Apr 24 2022, 01:04:09)
[GCC 7.5.0]
9223372036854775807

In [ ]:
Mssg='Welcome to gradstellar bootcamp'
x=Mssg.count('o')
y=Mssg.count('e')
print(x,y)
print((x+y)**2)

4 3
49

In [42]:
#Write a python program that print respective grades of student:Grade – Outstanding  for marks>=90Grade A+ for marks >=80, <90Grade A 
#for marks >=70, <80Grade B for marks >=60 and <70<60 Grade C
x=10
y=88
z=99
avg=x+y+z
avg=avg/3
if(avg>90):
  print("grade a")
elif (avg>80 and avg<90):
  print("grade b")
elif(avg>70 and avg<80):
  print("grade c")
elif(avg>60 and avg<70):
  print("grade d")
else:
 print("grade f")

grade d

In [43]:
num=int(input("ENTER TILL WHICH TABLE YOU WANT TO PRINT"))
i=1
while(i<=num):
  print(f"TABLE {i}")#rawstring
  j=1
  while(j<=10):
    print(f"{i}*{j}={i*j}")
    j=j+1
  print("____")
  i=i+1

ENTER TILL WHICH TABLE YOU WANT TO PRINT2
TABLE 1
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
____
TABLE 2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
____

In [46]:
#string is palindrome or not
string = input("Please give a String : ") 
if(string == string[:: - 1]): 
  print("Given String is a Palindrome") 
else:
 print("Given  String is not a Palindrome")

Please give a String : mom
Given String is a Palindrome