<a href="https://colab.research.google.com/github/Karrasharanya/Aiml-bootcamp/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
travellerneed=["speed","cost","luxury","nothing"]
print(travellerneed)
select=input("select ur convinient from list:")
if select=="speed":
  List1=["=400",">400<=900",">900<=1500"]
  print(List1)
  cost=int(input("enter between what range of cost:"))
  if cost==100 :
    print("available buses are")
    List2=["RTC","ordinary","vantare platinum plus"]
    for i in List2:
      print(i)
    print("please book ur ticket")
  elif cost>500 and cost<1000 :
    print("available buses are")
    List2=["superbus"," rhythm travel "]
    for i in List2:
         print(i)
         print("please book ur ticket")
  elif cost>1000 and cost<=2500:
    print(" available buses are")
    List2=["globe Trotter","explorania"]
    for i in List2:
      print(i)
    print("please book ur ticket")
elif select=="cost":
  List1=["=400",">400<=900",">900<=1500"]
  print(List1)
  cost=int(input("enter  cost:"))
  if cost==100 :
    print(" available buses are")
    List2=["conquest","garuda","ordinary"]
    for i in List2:
      print(i)
      print(List2)
    print("please book ur ticket")
  elif cost>500 and cost<1000 :
    print(" available buses are")
    List2=["safari","galaxy travels "]
    for i in List2:
         print(i)
         print(List2)
         print("please book ur ticket")
  elif cost>1000 and cost<=2500:
     print(" available buses are")
     List2=["ac travels","sunrise"]
     for i in List2:
      print(i)
      print(List2)
      print("please book ur ticket")
elif select=="luxury" :
  List2={'sunrise':900, 'Ac': 1000}
  for i in List2:
    print(i)
    print(List2)
    print("please book ur ticket")

['speed', 'cost', 'luxury', 'nothing']
select ur convinient from list:luxury
sunrise
{'sunrise': 900, 'Ac': 1000}
please book ur ticket
Ac
{'sunrise': 900, 'Ac': 1000}
please book ur ticket